[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://universal-blue.discourse.group/c/agungos/
Icon=/usr/share/Anakagung2009-bit/AgungOS/discourse.svg
Name=Discourse
Comment=Universal Blue Forums
Comment[cs]=Fórum Universal Blue
Comment[fr]=Forums d'Universal Blue
Comment[el]=Φόρουμ Universal Blue
Comment[ru]=Форумы Universal Blue
Categories=Utility;
