[Desktop Entry]
Type=Application
Name=System Update
Name[cs]=Aktualizace systému
Name[fr]=Mises à jour
Name[el]=Ενημέρωση συστήματος
Name[ru]=Обновление системы
Comment=Update AgungOS, Flatpaks, and more
Comment[cs]=Aktualizace AgungOS, Flatpaků a dalších
Comment[fr]=Met à jour AgungOS, les applications et plus encore
Comment[el]=Ενημερώνει το AgungOS, τα Flatpaks και άλλα
Comment[ru]=Обновить AgungOS, Flatpak и многое другое
Icon=/usr/share/Anakagung2009-bit/AgungOS/update.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
