[Unit]
Description=Configure AgungOS for current hardware
After=rpm-ostreed.service tuned.service
Before=systemd-user-sessions.service jupiter-biosupdate.service jupiter-controller-update.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/agungos-hardware-setup

[Install]
WantedBy=multi-user.target
