[Unit]
Description=Manage system flatpaks
After=agungos-hardware-setup.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/agungos-flatpak-manager
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
